{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row my-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class=" alert {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
      <div class="row mb-3">
        <div class="col-lg-6 offset-3">
          <form action="{% url 'post_list' %}" method="GET">
            <input type="text" name="q" placeholder="Search">
            <button type="submit" class="btn btn-sm btn-success">Search</button>
          </form>
        </div>
      </div>

      <div class="row">
          {% if posts %}
          {% for post in posts %}
          <div class="col-md-4">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title|title }}</h5>
                  <p class="card-text">{{ post.description }}</p>
                  <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View</a>
                </div>
              </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
  </div>

{% endblock content %}
