{% extends "base.html" %}

{% load i18n %}

<!-- django-admin makemessages -l bn --> 
<!-- django-admin compilemessages -l bn --> 

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <!-- language changer -->
        <form action="{% url 'set_language' %}" method="post">
          
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">

          <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
          </select>

          <input type="submit" value="Go">
          
        </form>


        <h1>{{ page_title }}</h1>
        <hr>
        <h2>{% trans 'Title' %}</h2>
        <p>{% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque officia optio enim, blanditiis labore consequatur sint illo delectus autem repellat molestias, quod molestiae ipsum exercitationem? Fuga ipsam harum suscipit fugiat?" %}</p>  
      </div>
    </div>
  </div>
{% endblock content %}
